# Question 1

Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
# first importing the library

import pandas as pd

# data stored in the data variable
data = [4,8,15,16,23,42]

# creating series
pandas_series = pd.Series(data)

In [3]:
pandas_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question 2

Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it

In [5]:
# creating variable

variable = [2,5,4,76,9,5,8,12,3,77]

# applying pandas series on the variable

pd.Series(variable)

0     2
1     5
2     4
3    76
4     9
5     5
6     8
7    12
8     3
9    77
dtype: int64

# Question 3

Create a Pandas DataFrame that contains the following data

Name:
Alice
Bob
Claire

Age:
25
30
27

Gender:
Female
Male
Female

In [7]:
# creating dictionary for the data

data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female', 'Male', 'Female']
}

In [9]:
# creating series and storing into variable
df = pd.Series(data)

In [10]:
df

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

# Question 4

What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [11]:
'''

In Pandas, a DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis. 
It consists of rows and columns,

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold any data type.
'''

# Example

# creating dictionary for the data

data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25,30,27],
    'Gender' : ['Female', 'Male', 'Female']
}

# creating dataframe
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

# Printing the DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

# Question 5

What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [12]:
'''
there are some common function available for manipulation of the dataset
head(), describe(),info(),mean(), sum(), min(), max(), groupby(), sort_values(), filter(), drop(), rename(), pivot_table(), etc.
'''

'\nthere are some common function available for manipulation of the dataset\nhead(), describe(),info(),mean(), sum(), min(), max(), groupby(), sort_values(), filter(), drop(), rename(), pivot_table(), etc.\n'

# Question 6

Which of the following is mutable in nature Series, DataFrame, Panel?

In [13]:
'''
In Pandas, both Series and DataFrame are mutable in nature, it allows to modify their content after creation.
on the other hand, the concept of a Panel has been deprecated in recent versions of Pandas, 
and its functionality has been incorporated into the DataFrame. 
'''

'\nIn Pandas, both Series and DataFrame are mutable in nature, it allows to modify their content after creation.\non the other hand, the concept of a Panel has been deprecated in recent versions of Pandas, \nand its functionality has been incorporated into the DataFrame. \n'

# Question 7

Create a DataFrame using multiple Series. Explain with an example.

In [14]:
# Creating multiple Series

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Combining Series into a dictionary
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

In [15]:
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles