# Question 1

List any five functions of the pandas library with execution.

In [13]:
'''
Five function on the pandas library are
1. read_csv
2. head
3. info
4. describe
5. groupby
'''

# Example of read.csv
import pandas as pd

# Reading a CSV file into a DataFrame
df = pd.read_csv('players_data.csv')

# printing the df
print(df)

      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

     DRB  TRB  AST  STL BLK  TOV   PF   PTS
0    222  301   68   27  22   60  147   398
1     19   28   16   16   7   14   24    94
2    324  523   66   38  86   99  222   537
3     54   77   15    4   9    9   30    60
4    220  247  129   41   7  116  167  1035
..   ...  ...  ...  ...  ..  ...  ...   ...
670  284  411  173  124  25  117  171  1071
671  170  245  135   86  17   75  115   685
672  114  166   38   38   8   42   56   386
673  265  362  100   34  49   62  156   472
674  319  465  113   18  52   76  205   833

[675 rows x 30 columns]

In [14]:
# Displaying the first 5 rows of the DataFrame
print(df.head())

  Rk         Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  DRB  \
0  1     Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79  222
1  2   Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9   19
2  3   Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199  324
3  4    Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23   54
4  5  Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27  220

   TRB  AST STL BLK  TOV   PF   PTS
0  301   68  27  22   60  147   398
1   28   16  16   7   14   24    94
2  523   66  38  86   99  222   537
3   77   15   4   9    9   30    60
4  247  129  41   7  116  167  1035

[5 rows x 30 columns]

In [15]:
# Displaying information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      675 non-null    object
 1   Player  675 non-null    object
 2   Pos     675 non-null    object
 3   Age     675 non-null    object
 4   Tm      675 non-null    object
 5   G       675 non-null    object
 6   GS      675 non-null    object
 7   MP      675 non-null    object
 8   FG      675 non-null    object
 9   FGA     675 non-null    object
 10  FG%     673 non-null    object
 11  3P      675 non-null    object
 12  3PA     675 non-null    object
 13  3P%     594 non-null    object
 14  2P      675 non-null    object
 15  2PA     675 non-null    object
 16  2P%     671 non-null    object
 17  eFG%    673 non-null    object
 18  FT      675 non-null    object
 19  FTA     675 non-null    object
 20  FT%     650 non-null    object
 21  ORB     675 non-null    object
 22  DRB     675 non-null    object
 23  TRB     675 non-null    object
 24  AST     675 non-null    object
 25  STL     675 non-null    object
 26  BLK     675 non-null    object
 27  TOV     675 non-null    object
 28  PF      675 non-null    object
 29  PTS     675 non-null    object
dtypes: object(30)
memory usage: 158.3+ KB
None

In [16]:
# Generating descriptive statistics for the DataFrame
print(df.describe())

         Rk  Player  Pos  Age   Tm    G   GS   MP   FG  FGA  ...   FT%  ORB  \
count   675     675  675  675  675  675  675  675  675  675  ...   650  675
unique  493     493   12   21   32   84   81  557  327  458  ...   275  165
top      Rk  Player   SG   23  TOT   82    0   MP   FG  FGA  ...  .500    1
freq     24      24  145   86   76   27  179   24   24   24  ...    29   30

        DRB  TRB  AST  STL  BLK  TOV   PF  PTS
count   675  675  675  675  675  675  675  675
unique  293  350  249  119   98  177  214  463
top     DRB  TRB  AST    0    0  TOV   PF  PTS
freq     24   24   24   29   88   24   24   24

[4 rows x 30 columns]

In [18]:
# Grouping the DataFrame by age column and calculating the mean for each group
grouped_data = df.groupby('Age').mean()
print(grouped_data)

Empty DataFrame
Columns: []
Index: [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, Age]

/tmp/ipykernel_77/4093167816.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('Age').mean()

# Question 2

Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [23]:
def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)

    # Use set_index to re-index the DataFrame
    df_reindexed = df.set_index(new_index)

    return df_reindexed

# Example usage:
# Assuming df is original DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
})

# Re-indexing the DataFrame
df_reindexed = reindex_dataframe(df)

# Displaying the re-indexed DataFrame
print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

# Question 3

You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [25]:
def calculate_sum_of_first_three_values(df):
    # Check if 'Values' column exists in the DataFrame
    if 'Values' not in df.columns:
        print("Error: 'Values' column not found in the DataFrame.")
        return

    # Select the first three values in the 'Values' column
    first_three_values = df['Values'].iloc[:3]

    # Calculate the sum of the selected values
    sum_of_first_three_values = first_three_values.sum()

    # Print the result to the console
    print(f"Sum of the first three values in 'Values' column: {sum_of_first_three_values}")

# Example usage:
# Assuming df is original DataFrame with the 'Values' column
df = pd.DataFrame({
    'Values': [10, 20, 30, 40, 50]
})

# Calling the function to calculate the sum
calculate_sum_of_first_three_values(df)

Sum of the first three values in 'Values' column: 60

# Question 4

Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [26]:
def add_word_count_column(df):
    # Check if 'Text' column exists in the DataFrame
    if 'Text' not in df.columns:
        print("Error: 'Text' column not found in the DataFrame.")
        return

    # Create a new 'Word_Count' column by applying a lambda function
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

# Example usage:
# Assuming df is original DataFrame with the 'Text' column
df = pd.DataFrame({
    'Text': ['This is a sample text.', 'Count the words here.', 'Another example.']
})

# Calling the function to add the 'Word_Count' column
add_word_count_column(df)

# Displaying the DataFrame with the new 'Word_Count' column
print(df)

                     Text  Word_Count
0  This is a sample text.           5
1   Count the words here.           4
2        Another example.           2

# Question 5

How are DataFrame.size() and DataFrame.shape() different?

In [27]:
'''

DataFrame.size() in pandas returns the total number of elements in a DataFrame, calculated as the product of its number of rows and columns. 
On the other hand, DataFrame.shape() returns a tuple representing the number of rows and columns in the DataFrame
'''

'\n\nDataFrame.size() in pandas returns the total number of elements in a DataFrame, calculated as the product of its number of rows and columns. \nOn the other hand, DataFrame.shape() returns a tuple representing the number of rows and columns in the DataFrame\n'

# Question 6

Which function of pandas do we use to read an excel file?

In [28]:
'''
In pandas, the function used to read an Excel file is pd.read_excel(). 
This function allows you to read data from an Excel file and create a DataFrame, 
providing various parameters for customization based on the Excel file's structure and content.
'''

"\nIn pandas, the function used to read an Excel file is pd.read_excel(). \nThis function allows you to read data from an Excel file and create a DataFrame, \nproviding various parameters for customization based on the Excel file's structure and content.\n"

# Question 7

You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [30]:
def extract_username(df):
    # Check if 'Email' column exists in the DataFrame
    if 'Email' not in df.columns:
        print("Error: 'Email' column not found in the DataFrame.")
        return

    # Extract the username from the 'Email' column and create a new 'Username' column
    df['Username'] = df['Email'].str.split('@').str.get(0)

# Example usage:
# Assuming df is original DataFrame with the 'Email' column
df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.jones@example.com']
})

# Calling the function to add the 'Username' column
extract_username(df)

# Displaying the DataFrame with the new 'Username' column
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2   bob.jones@example.com   bob.jones

# Question 8

You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

1 8 2 7

4 9 1 2

Your function should select the following rows: A B C

The function should return a new DataFrame that contains only the selected rows.

In [31]:
def select_rows_condition(df):
    # Check if columns 'A' and 'B' exist in the DataFrame
    if 'A' not in df.columns or 'B' not in df.columns:
        print("Error: Columns 'A' and 'B' are required in the DataFrame.")
        return None

    # Use boolean indexing to select rows based on the conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows

# Example usage:
# Assuming df is original DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9, 8, 9],
    'B': [5, 2, 9, 3, 1, 2, 1],
    'C': [1, 7, 4, 5, 2, 7, 2]
})

# Calling the function to select rows based on the conditions
selected_df = select_rows_condition(df)

# Displaying the new DataFrame with selected rows
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
5  8  2  7
6  9  1  2

# Question 9

Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [32]:
def calculate_statistics(df):
    # Check if 'Values' column exists in the DataFrame
    if 'Values' not in df.columns:
        print("Error: 'Values' column not found in the DataFrame.")
        return None

    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()

    # Display the results
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_deviation)

# Example usage:
# Assuming df is original DataFrame with the 'Values' column
df = pd.DataFrame({
    'Values': [10, 15, 20, 25, 30]
})

# Calling the function to calculate statistics
calculate_statistics(df)

Mean: 20.0
Median: 20.0
Standard Deviation: 7.905694150420948

# Question 10

Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [34]:
def calculate_moving_average(df):
    # Check if 'Sales' and 'Date' columns exist in the DataFrame
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("Error: 'Sales' and 'Date' columns are required in the DataFrame.")
        return None

    # Sort the DataFrame based on the 'Date' column
    df = df.sort_values(by='Date')

    # Calculate the moving average with a window size of 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

# Example usage:
# Assuming df is original DataFrame with 'Sales' and 'Date' columns
df = pd.DataFrame({
    'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50],
    'Date': pd.date_range('2022-01-01', periods=9)
})

# Calling the function to calculate moving average
df = calculate_moving_average(df)

# Displaying the DataFrame with the new 'MovingAverage' column
print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     15 2022-01-02           12.5
2     20 2022-01-03           15.0
3     25 2022-01-04           17.5
4     30 2022-01-05           20.0
5     35 2022-01-06           22.5
6     40 2022-01-07           25.0
7     45 2022-01-08           30.0
8     50 2022-01-09           35.0

# Question 11

You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

    Date
0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

        Date Weekday
        
0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [35]:
def add_weekday_column(df):
    # Check if 'Date' column exists in the DataFrame
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a new 'Weekday' column with weekday names
    df['Weekday'] = df['Date'].dt.day_name()

    return df

# Example usage:
# Assuming df is original DataFrame with the 'Date' column
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})

# Calling the function to add the 'Weekday' column
df = add_weekday_column(df)

# Displaying the modified DataFrame with the new 'Weekday' column
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Question 12

Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [36]:
def select_rows_in_date_range(df):
    # Check if 'Date' column exists in the DataFrame
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return None

    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])

    # Specify the date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Use boolean indexing to select rows within the date range
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return selected_rows

# Example usage:
# Assuming df is original DataFrame with the 'Date' column
df = pd.DataFrame({
    'Date': ['2023-01-05', '2023-01-15', '2023-01-25', '2023-02-05', '2023-02-15']
})

# Calling the function to select rows in the specified date range
selected_df = select_rows_in_date_range(df)

# Displaying the DataFrame with selected rows
print(selected_df)

        Date
0 2023-01-05
1 2023-01-15
2 2023-01-25

# Question 13

To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [37]:
'''
to use the basic functions of pandas, the first and formost nesessary libraty which is needs to be installed is known as pandas.
pandas helps to provide essential data structures like DataFrames and Series, 
along with a wide range of functions for data manipulation, analysis, and exploration in Python.
'''

'\nto use the basic functions of pandas, the first and formost nesessary libraty which is needs to be installed is known as pandas.\npandas helps to provide essential data structures like DataFrames and Series, \nalong with a wide range of functions for data manipulation, analysis, and exploration in Python.\n'