Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

# Question 1

Write a code to print the data present in the second row of the dataframe, df.

In [1]:
# Importing library

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

# Creating Dataframe
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

# printing the 2nd row from the dataframe
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Question 2

What is the difference between the functions loc and iloc in pandas.DataFrame?

In [2]:
# loc
'''
loc perfrom is primarily label based. It helps in the selection actual row and column labels to perform the indexing.
the syntax for using loc is "df.loc[row_label, column_label]"
'''

# iloc
'''
iloc perfrom is primarily integer-locaton based. we need to use the integer to perform indexing
the syntax for using iloc is "df.iloc[row_index, column_index]"
'''

'\niloc perfrom is primarily integer-locaton based. we need to use the integer to perform indexing\nthe syntax for using iloc is "df.iloc[row_index, column_index]"\n'

# Question 3

Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [4]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing the DataFrame
reindex_order = [3, 0, 1, 2]
new_df = df.reindex(reindex_order)

# Output for new_df.loc[2]
print("Output for new_df.loc[2]:")
print(new_df.loc[2])

# Output for new_df.iloc[2]
print("\nOutput for new_df.iloc[2]:")
print(new_df.iloc[2])

Output for new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Observation:

- For "new_df.loc[2]", the output corresponds to the row with the index label 2 in the reindexed DataFrame. It provides the data for the row where the index label is 2.
- For "new_df.iloc[2]", the output corresponds to the third row in the reindexed DataFrame (because iloc is based on the integer position). 
- "loc" uses the index label, while "iloc" uses the integer position.

Consider the below code to answer further questions:

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

# Question 4

(i) mean of each and every column present in the dataframe.

In [7]:
# Writing code first 

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
# Answering Question number (i)

np.mean(df1)

/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

column_1    0.686263
column_2    0.269495
column_3    0.578652
column_4    0.441280
column_5    0.525418
column_6    0.686374
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [10]:
np.std(df1)

column_1    0.071799
column_2    0.109064
column_3    0.286103
column_4    0.365554
column_5    0.242662
column_6    0.232240
dtype: float64

# Question 5

Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

In [13]:
import pandas as pd
import numpy as np
try :
    columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
    indices = [1, 2, 3, 4, 5, 6]

    # Creating a dataframe
    df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

    # Replacing data in the second row of 'column_2' with a string variable
    string_data = 'NewStringData'
    df1.loc[2, 'column_2'] = string_data

    # Finding the mean of 'column_2'
    mean_column_2 = df1['column_2'].mean()

    print(f"Dataframe after replacing in the second row of 'column_2':\n{df1}\n")
    print(f"Mean of 'column_2': {mean_column_2}")
    
except TypeError as t :
    print(t)

unsupported operand type(s) for +: 'float' and 'str'

The error showing might be due to the data type mismatch between the original numeric data in 'column_2' and the string data we are trying to replace it with.

# Question 6

What do you understand about the windows function in pandas and list the types of windows
functions?

In [14]:
'''
In pandas, a window function is a way to perform calculations on a set of data points that are organized in a specified window, 
typically moving across the data. 
'''

# Types of Windows Function
'''
1. Mean (mean()) 
2. Sum(sum()) 
3. Standard Deviation (std())
4. Minimum (min())
5. Maximum (max())
6. Correlation (corr()) 
7. Covariance (cov())
'''

'\n1. Mean (mean()) \n2. Sum(sum()) \n3. Standard Deviation (std())\n4. Minimum (min())\n5. Maximum (max())\n6. Correlation (corr()) \n7. Covariance (cov())\n'

#  Question 7

Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [15]:
import pandas as pd

# Get the current date and time
current_date_time = pd.Timestamp.now()

# Extract the current month and year
current_month = current_date_time.month
current_year = current_date_time.year

# Print the current month and year
print(f"Current Month: {current_month}, Current Year: {current_year}")

Current Month: 1, Current Year: 2024

# Question 8

Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [17]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)

    # Calculate the time difference
    time_difference = date2 - date1

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes = remainder // 60

    return days, hours, minutes

# Prompt user to enter dates
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate time difference
try:
    days_diff, hours_diff, minutes_diff = calculate_time_difference(date_str1, date_str2)
    print(f"\nTime Difference:\nDays: {days_diff}\nHours: {hours_diff}\nMinutes: {minutes_diff}")

except ValueError as e:
    print(f"Error: {e}. Please enter valid date formats (YYYY-MM-DD).")

Enter the first date (YYYY-MM-DD):  1995-01-14
Enter the second date (YYYY-MM-DD):  2024-01-13

Time Difference:
Days: 10591
Hours: 0
Minutes: 0

# Question 9

Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

# Question 10

Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

# Question 11

You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following : 
    
- Prompt the user to enter the file path of the CSV file containing the student data.

- Read the CSV file into a Pandas DataFrame.

- Calculate the mean, median, and mode of the test scores using Pandas tools.

- Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns :

- Student ID: The ID of the student.

- Test Score: The score of the student's test.

Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+

| Statistic | Value |

+-----------+--------+

| Mean | 79.6 |

| Median | 82 |

| Mode | 85, 90 |

+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:
    
Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.