# Question 1

What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
''' A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and updating 
of information. It serves as a central repository for data used by various applications and systems. '''

# Difference Between SQL and NoSQL

''' 
SQL Databases

SQL databases, also known as relational databases, are designed to handle structured data and are based on a tabular schema. 
They use a predefined schema to define the structure of the data, including tables, rows, and columns.
 
 
 NoSQL Database
 
NoSQL databases are designed to handle unstructured or semi-structured data and provide a more flexible schema. 
They allow for dynamic addition of fields without requiring a predefined schema. '''

' \nSQL Databases\n\nSQL databases, also known as relational databases, are designed to handle structured data and are based on a tabular schema. \nThey use a predefined schema to define the structure of the data, including tables, rows, and columns.\n \n \n NoSQL Database\n \nNoSQL databases are designed to handle unstructured or semi-structured data and provide a more flexible schema. \nThey allow for dynamic addition of fields without requiring a predefined schema. '

# Question 2

What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
# DDL

'''DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) 
that deals with the definition and structure of the database, including the creation, modification, and deletion of database objects. 
DDL statements are used to define and manage the structure of tables, indexes, views, and other database elements. '''


# CREATE

'''The CREATE statement is used to create new database objects, such as tables, indexes, or views.'''


# CREATE TABLE Employees (
#     EmployeeID INT PRIMARY KEY,
#     Name VARCHAR(50),
#     Salary DECIMAL(10,2)
# );


# DROP

'''The DROP statement is used to remove existing database objects, such as tables or indexes.'''

# DROP TABLE Employees;

# ALTER

'''The ALTER statement is used to modify the structure of existing database objects, such as adding or dropping columns from a table.'''

# ALTER TABLE Employees
# ADD COLUMN Department VARCHAR(50);


# TRUNCATE

'''The TRUNCATE statement is used to remove all rows from a table, effectively deleting all data without removing the table structure.'''

# TRUNCATE TABLE Employees;

'The TRUNCATE statement is used to remove all rows from a table, effectively deleting all data without removing the table structure.'

# Question 3

What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
# DML (Data Manipulation Language):

'''DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) 
that deals with the manipulation of data stored in the database. 
DML statements are used to insert, update, retrieve, and delete data from the database.'''


# INSERT

# The INSERT statement is used to add new records (rows) to a table.

# SQL Code
# INSERT INTO Employees (EmployeeID, Name, Salary, Department)
# VALUES (1, 'John Doe', 50000.00, 'IT');

# UPDATE

# The UPDATE statement is used to modify existing records in a table.

# UPDATE Employees
# SET Salary = 55000.00
# WHERE Name = 'John Doe';


# DELETE

# The DELETE statement is used to remove records from a table based on a specified condition.

# DELETE FROM Employees
# WHERE EmployeeID = 1;

'DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) \nthat deals with the manipulation of data stored in the database. \nDML statements are used to insert, update, retrieve, and delete data from the database.'

# Question 4

What is DQL? Explain SELECT with an example.

In [4]:
# DQL (Data Query Language):

# DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that deals with the retrieval of data from a database.


# The SELECT statement is used to query and retrieve data from one or more tables in a database.

# SELECT * FROM Employees;

# Question 5

Explain Primary Key and Foreign Key

In [5]:
# Primary Key:

'''A primary key is a column or a set of columns in a relational database table that uniquely identifies each record in that table. 
The primary key must contain unique values, and it cannot have NULL values. '''


# Foreign Key:

'''A foreign key is a column or a set of columns in a relational database table that refers to the primary key of another table. 
It establishes a link between two tables by referencing the primary key of one table as a foreign key in another. '''

'A foreign key is a column or a set of columns in a relational database table that refers to the primary key of another table. \nIt establishes a link between two tables by referencing the primary key of one table as a foreign key in another. '

# Question 6

Write a python code to connect MySQL to python. Explain the cursor() and execute() method

# Question 7

Give the order of execution of SQL clauses in an SQL query